---
interface Props {
  link: string;
  name: string;
}

const { link, name } = Astro.props;
---

<a href={link} class="github__link" target="_blank">
  <span class="mdi--github github__icon"></span>
  {name}
</a>

<style>
  .github__link {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.8rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .github__link:hover {
    background-color: var(--color-primary);
    color: var(--bg-body);
  }
  .github__icon {
    width: 1rem;
    height: 1rem;
    color: var(--text-primary);
  }

  @media (min-width: 600px) {
    .github__link {
      padding: 0.4rem 1rem;
      font-size: 1.2rem;
    }
    .github__icon {
      width: 1.2rem;
      height: 1.2rem;
      color: var(--text-primary);
    }
  }
</style>
