---
import "swiper/css";
import "swiper/css/effect-cards";
import "swiper/css/navigation";
import "swiper/css/pagination";

export interface Props {
  images: string[] | undefined;
}
const { images } = Astro.props;
---

<div class="cards__slider">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {
        images?.map((image) => (
          <div class="swiper-slide">
            <img src={image} alt="imagen" />
          </div>
        ))
      }
    </div>

    <!-- Flechas y paginación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<style>
  .cards__slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    aspect-ratio: 16 / 9;
  }

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-primary);
  }

  /* Opcional: cambiar tamaño */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 24px;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  // Registro de módulos
  Swiper.use([Navigation, Pagination]);

  new Swiper(".mySwiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
  });
</script>
