<footer class="footer container">
    <p class="footer__text">Hecho con amor 💙 | © {new Date().getFullYear()} Cristian Sandoval.</p>
</footer>
<style>
    footer {
        padding: 2rem 0;
    }
    .footer__text {
        color: var(--text-secondary);
        text-align: center;
    }
</style>