---
// No necesitas props para esto
---

<div class="loader-container" id="global-loader">
  <div class="loader"></div>
</div>

<style>
  .loader-container {
    position: fixed;
    inset: 0;
    background: var(--bg-body, #0c151d);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
</style>

<script>
  window.addEventListener("load", () => {
    const loader = document.getElementById(
      "global-loader"
    ) as HTMLElement | null;
    if (loader) {
      loader.style.transition = "opacity 0.5s ease";
      loader.style.opacity = "0";
      setTimeout(() => {
        loader.style.display = "none";
      },2000);
    }
  });

  // Muestra el loader al hacer clic en un enlace interno
  document.addEventListener("click", (e: MouseEvent) => {
  const target = e.target as HTMLElement;
  const anchor = target.closest("a") as HTMLAnchorElement | null;

  if (
    anchor &&
    anchor.href &&
    anchor.target !== "_blank" &&
    anchor.origin === window.location.origin
  ) {
    e.preventDefault(); // Detiene la navegación automática

    const loader = document.getElementById("global-loader") as HTMLElement | null;
    if (loader) {
      loader.style.display = "flex";
      loader.style.opacity = "1";
    }

    // Espera 3 segundos, luego redirige manualmente
    setTimeout(() => {
      window.location.href = anchor.href;
    }, 2000);
  }
});
</script>
