---
// No necesitas props para esto
---



<div class="loader-container" id="global-loader">
  <div class="loader"></div>
</div>

<style>
  .loader-container {
    position: fixed;
    inset: 0;
    background: var(--bg-body, #0c151d);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-primary);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
</style>

<script>
window.addEventListener("load", () => {
  const loader = document.getElementById("global-loader") as HTMLElement;

  // Usa sessionStorage en lugar de localStorage
  const hasVisited = sessionStorage.getItem("hasVisited");

  if (loader) {
    const delay = hasVisited ? 0 : 2000; // solo espera si no ha entrado antes

    setTimeout(() => {
      loader.style.opacity = "0";
      loader.style.transition = "opacity 0.5s ease";
      setTimeout(() => loader.remove(), 500);
    }, delay);

    // Marca esta sesión como visitada
    sessionStorage.setItem("hasVisited", "true");
  }
}); 

</script>